# First Token-Swap Marlowe Contract on Mainnet

The first Marlowe token swap on `mainnet` used the following contract on 14 May 2022:
1. The John Fletcher, the owner of the address `addr1vywt2xlr4d8yk4qws675exlqy6pdhq2s76wrehkjggkvr0czta9gx`, deposits 500 Globe tokens.
2. The Thomas Kyd, the owner of the address `addr1v87n0zzth5zycuh972w7rdmh48qur4f3wu6ntn2m2h30dlchhlqt3`, deposits 300 Swan tokens.
3. The contract pays the Swan tokens to the first address and the Globe tokens to the second address.

| John Fletcher `<addr1vywt2xlr4d8yk4qws675exlqy6pdhq2s76wrehkjggkvr0czta9gx>` | | Thomas Kyd `<addr1v87n0zzth5zycuh972w7rdmh48qur4f3wu6ntn2m2h30dlchhlqt3>` |
|-----------|-|----------|
| ![Globe](https://functionally.mypinata.cloud/ipfs/QmWvB66kPwZJQLMYUcR9ToPWhpPBpb3FtjSgYpKuKbo1Mq) | **â®€** | ![Swan](https://functionally.mypinata.cloud/ipfs/QmUw49T6EBWvp7mqgJ5gNaony5S14CXoZ4okVKb1Qdr8Tk) |
| 500 [Globe](https://pool.pm/asset1pfmavjzl3z65g8jqas4sc5kl52c0lvwfr8rh6d) | | 300 [Swan](https://pool.pm/asset16qhc87r4jxexufvym4vpy0nlysjvkrg389ntyw) |

Here is the Blockly visualization of the contract.

![Contract for swapping tokens](contract.png)

And here is the contract as YAML:

In [1]:
json2yaml contract.json

timeout: 1650074565000
timeout_continuation: close
when:
- case:
    deposits: 500
    into_account:
      address: addr1vywt2xlr4d8yk4qws675exlqy6pdhq2s76wrehkjggkvr0czta9gx
    of_token:
      currency_symbol: 8bb3b343d8e404472337966a722150048c768d0a92a9813596c5338d
      token_name: Globe
    party:
      address: addr1vywt2xlr4d8yk4qws675exlqy6pdhq2s76wrehkjggkvr0czta9gx
  then:
    timeout: 1650074565000
    timeout_continuation: close
    when:
    - case:
        deposits: 300
        into_account:
          address: addr1v87n0zzth5zycuh972w7rdmh48qur4f3wu6ntn2m2h30dlchhlqt3
        of_token:
          currency_symbol: 8bb3b343d8e404472337966a722150048c768d0a92a9813596c5338d
          token_name: Swan
        party:
          address: addr1v87n0zzth5zycuh972w7rdmh48qur4f3wu6ntn2m2h30dlchhlqt3
      then:
        from_account:
          address: addr1vywt2xlr4d8yk4qws675exlqy6pdhq2s76wrehkjggkvr0czta9gx
        pay: 500
        then:
          from_account:
            address: addr1v87n0zzth5zycuh972w7rdmh48qur4f3wu6ntn2m2h30dlchhlqt3
          pay: 300
          then: close
          to:
            party:
              address: addr1vywt2xlr4d8yk4qws675exlqy6pdhq2s76wrehkjggkvr0czta9gx
          token:
            currency_symbol: 8bb3b343d8e404472337966a722150048c768d0a92a9813596c5338d
            token_name: Swan
        to:
          party:
            address: addr1v87n0zzth5zycuh972w7rdmh48qur4f3wu6ntn2m2h30dlchhlqt3
        token:
          currency_symbol: 8bb3b343d8e404472337966a722150048c768d0a92a9813596c5338d
          token_name: Globe

## 1. Creation transaction

John Fletcher deposited 3 Ada in the creation transaction, in order to establish the contract:
- [039c9a610808144cab9c076ed71375c443402fd2ebb9404d1bb09194c44d4eff](https://cardanoscan.io/transaction/039c9a610808144cab9c076ed71375c443402fd2ebb9404d1bb09194c44d4eff?tab=utxo)

## 2. Deposit of Globe tokens

John Fletcher deposits 500 Globe tokens into the contract:
- [d6913fde1273522a1bcf09cb6eb903efaf5b0054b8aea657bc0ae7995e5998f0](https://cardanoscan.io/transaction/d6913fde1273522a1bcf09cb6eb903efaf5b0054b8aea657bc0ae7995e5998f0?tab=utxo)

This was the first application of input to a Marlowe contract on `mainnet`. You can decode the secret message in the metadata using the key `XgO+1W/x6dMll7WuAwnTFg`.

## 3. Deposit of Swan tokens that trigger the token swap

Thomas Kyd deposits 300 Swan tokens into the contract, causing the contract to send the Swan tokens to John Fletcher and the Globe tokens to Thomas Kyd, completing the swap:
- [97655e5340c1f0e395f9d34ff757669c474012535cc0e7a9bc29f37635d14ba5](https://cardanoscan.io/transaction/97655e5340c1f0e395f9d34ff757669c474012535cc0e7a9bc29f37635d14ba5?tab=utxo)